@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
  .navText {
    @apply text-14 font-NotoSansKR;
  }
}

html {
  font-size: 14px;
  box-sizing: border-box;
}

body {
  letter-spacing: -0.04em;
}
